.App {
  text-align: center;
}

.Nav
{
  background-color: green;
  color: white;
  display: flex;
  align-content: flex-start;
}
.NavText{
  margin: 1rem;
  font-weight: bold;
  font-size: 20px;
}
.form
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  gap: 10px;
}
